# .gitignore
keys.py
fingerprints.db

# dependencies
**/node_modules
**/.next
**/public
**/.turbo
**/.yarn
**/.pnp
**/.pnp.js
**/.yarn/install-state.gz
*/.pnp
*.pnp.js
*.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
µ
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo

bin
node_modules
__pycache__/
*.py[cod]
*$py.class